<h1>Listing customers</h1>

<table>
  <tr class = 'keys'>
    <th>Id</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr class = 'values'>
    <td><%= customer.id %></td>
    <td><%= customer.name %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.contact %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Place Order', new_customer_order_path(customer)  %></td>
    <td><%= link_to 'View Orders', customer_orders_path(customer) %></td>

  </tr>
<% end %>
</table>


<%= link_to 'New Customer', new_customer_path %>
